html{
    background-color:blanchedalmond;
    padding-left: 10px;
    margin: 0px;
    overflow: hidden;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#title{
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    font-family:'Courier New', Courier, monospace
}
h4{
    text-align: center;
    font-size: 1.2em;
}
.batata{
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(26, 81, 50);
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    width: 50%;
}
.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}
.pagination a.active{
    background-color: hsl(39, 90%, 72%);
    font-weight: bolder;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: lightgray;
    border-radius: 5px;
}
.button{
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.7s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
  }
  
  .button:hover{
    background-color: #04AA6D;
    color: white;
  }
@media (max-width: 600px) {
    #title{
        font-size: 2em;
    }
    .batata{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid rgb(26, 81, 50);
        border-radius: 20px;
        width: 75%;
        overflow:auto;
    }
}
label{
    font-size: 1.1em;
    transition: font-size 1s ease, color 1s ease;
}
label:hover{
    font-size: 1.5em;
    color: blue;
    cursor: pointer;
}

.sandwich{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    overflow:auto;
}
#first{
    display: block;
    height: 60px;
    width: 400px;
    border: 1px solid sandybrown;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #885a35;
    /*white bread #f0d1a0 or #eec07b*/
    position:absolute;
    bottom: 50px;
}
#second{
    display: block;
    height: 4px;
    width: 400px;
    border: solid 1px tan;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: tomato;
}
#third{
    display: block;
    height: 40px;
    width: 400px;
    border: 1px solid rgb(184, 119, 63);
    border-radius: 20px;
    background-color:#4d2b0e;
    position:absolute;
    bottom: 60px;
}
#fourth{
    display: block;
    height: 4px;
    width: 400px;
    border: solid 1px tan;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: rgb(234, 234, 148);
}
#fifth{
    display: block;
    height: 10px;
    width: 400px;
    border: solid 1px rgb(151, 210, 140);
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: rgb(19, 183, 62);
    position: absolute;
    bottom: 40px;
}
#sixsth{
    display: block;
    height: 70px;
    width: 400px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: #885a35;
    /*white bread #f0d1a0 or #eec07b*/
    position:absolute;
    bottom: 10px;
    box-shadow: 2px 2px 2px brgb(41, 11, 11)
}